.linkCard{
    display: flex;
    flex: 1 1 auto;
    max-width: 30%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px;
    min-width: 250px;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 370px;
    color: #2c3e50;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}
.linkCard:hover {
    transform: scale(1.1);
  }